<div class='booyah-box'</div>
<h1 class=>  New Game </h1>

<br />

<%= simple_form_for @game do |f| %>
  <%= f.input :name %>
  <%= f.input :white_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :turn_number, :as => :hidden, :input_html => { :value => 0 } %>
  <br />
  <%= f.submit "Create", :class => 'btn btn-success' %>
<% end %>
</div>
</div>