<div class ='booyah-box col-6 offset-3 text-center'>
  <h2 class="pusherInfo" data-pusherinfo=<%= "channel-#{@game.id}" %> ><%= @game.name %></h2>
</div>
</div>
<div class="row justify-content-center">
    <ul>
        <% if @game.state == 'Forfeited' %>
            <p id='forfeit_loser'><%= User.find(@game.loser_id).email %> forfeited!</p>
            <p id='forfeit_winner'><%= User.find(@game.winner_id).email %> WINS!</p>
        <% end %>
    </ul>
    <ul>
        <% if @game.state == 'Over' %>
            <p id='forfeit_loser'><%= User.find(@game.loser_id).email %> LOST!</p>
            <p id='forfeit_winner'><%= User.find(@game.winner_id).email %> WINS!</p>
        <% end %>
    </ul>
    <ul>
       <% if @game.state == 'Destroyed' %>
            <p id='destroyed'> This game was destroyed by player!</p>
        <% end %>
    </ul>
</div>


<br />

<div class="player-two col-6 offset-3 text-center">
  <%= render partial: 'player_two' %>
</div>

<br />

<div class="game-board col-lg-auto">
  <%= render partial: 'board' %>
</div>

<br />

<div class="player-one col-6 offset-3 text-center">
  <%= render partial: 'player_one' %>
</div>


<br />
<br />

<br />
</div>
<button type="button" class="btn btn-outline-warning"><%= current_user.email %></button>




<% if @game.black_player_id != nil %>
  <h2 class="text-center">
    <%= link_to 'FORFEIT', forfeit_path(@game), method: :get, class: "btn btn-danger btn-lg", id: 'Forfeit' %>
  </h2>
<% end %>

<script type='text/javascript'>
  function init_draggables_and_droppables() { 
      $('.piece').draggable({
        containment: '.gameboard',
        snap: '.tile',
        cursor: 'crosshair',
        scroll: false,
        revert: 'invalid'
      });

      $('.tile').droppable({
        drop: function( event, ui ) {
          piece_id = ui.draggable.data('piece-id')
          x_position = $(this).data('x-coord')
          y_position = $(this).data('y-coord')
          $.ajax({
            url: `/pieces/${piece_id}?x_position=${x_position}&y_position=${y_position}`,
            type: 'PUT'
          });
        }
      });
    }
  
  $(function() {
    init_draggables_and_droppables();
  });

  var pusher = new Pusher('b18dd5305d4de3468d37', {
      encrypted: true
  });

  var gameId = $('.pusherInfo').data('pusherinfo');

  var channel = pusher.subscribe(gameId);

  channel.bind('update-piece', function(data) {
    location.reload(true);
  });
    
</script>
