<!DOCTYPE html>
<html>
  <head>

    <title>Chess Game </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  
  </head>
  <body>
<nav class="navbar navbar-dark bg-primary">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="navbar-brand" >

          <%= link_to 'Chess Game' , root_path, class: 'nav-link'  %>
        </li>


      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>

        <li class="nav-item active">
          <%= link_to 'Dashboard', game_user_path(current_user), class: 'nav-link' %>
        </li>

       
        <li class="nav-item active">

           <a class="nav-link" href="https://github.com/Coding-Knights/chess" target="_blank">Github <i class="fab fa-github-square fa-1x"></i></a>
        </li>


          <li class="nav-item active">
            <a class="nav-link" href="http://www.uschess.org/content/view/7324/" target="_blank">Rules</a>
          </li>

        </ul>

        <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <% unless current_user %>
<!--   <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %> -->
      <% end %>
    </ul>

        </form>
      </nav>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>

  
</html>
